*.iml
.gradle
/local.properties
/.idea

/settings.gradle
gradlew
gradlew.bat
gradle.properties
.DS_Store
/build
/captures
.externalNativeBuild

app/libs/
.idea/compiler.xml
.idea/copyright/
.idea/gradle.xml
.idea/modules.xml
gradle/
